{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  
  {% if title %}
  <title>Personal Gallery Community - {{title}}</title>
  {% else %}
    <title>Personal Gallery Community</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'CSS/baseimages.css' %}">
  {% endblock %}

</head>
<body>
  <div class="container-fluid">
    {% include "navbar.html" %}

    {% block content %} 

    <div class="jumbotron text-center">
      <h1 class="mb-4 d-none d-md-block text-center" style="padding-top: 0px;font-size: 30px;font-family: 'monospace', cursive;color:rgb(43, 40, 36)">
        <b>Welcome to My Personal Online Gallery Community</b></h1>
        <p>Search images for: 
          <ulstyle="list-style-type:disc; >
            <li>Food and drinks</li>
            <li>birthday</li>
            <li>wedding</li>
            <li>travel</li>

          </ul>
        </p>

      
    </div>

    <!-- <h1>Images for {{date|date:"l d-F Y"}}</h1>  -->
    {%endblock%}
  </div>
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
    
</body>
</html>