{%extends 'all-images/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

    <!-- Looping through news   -->
    <div class="row">
        {% for images_item in images %}
  
        
        <!-- displaying Gallery Images -->
            <div class="col md-3 p-2">

                <div class="card" style="width: 18rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <img class="card-img-top" src="{{images_item.image.url}}" class="img-responsive" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{images_item.image_name}}</h5>
                        <h2 class="text-left"> {{ images_item.category }} </h2>
                        <p> {{images_item.image_description}} </p>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                
                    <div class="card-body">
                        <a href="#" class="card-link">{{images_item.location}}</a>
                    
                    </div>
                </div>

        </div>
  
    {% empty %}
   
        {% endfor %}
    </div>
  
  
</div>
{% endblock %}
