{%extends 'all-images/base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 results for the search term {{message}}</h2>
    {% endif %}
  </div>
  <div class="row">
  {% if images %}
    {% for image in images %}
      <div class="col-lg-9">
        <h1 class="text-center">{{image.image_name}}</h1>
        <p>{{ image.image_description }} 
        <a href="#" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Read More</a></p> 
        <!-- <p> Article Author: {{ article.editor }}</p>
        <p>Date Published: {{ article.pub_date }}</p> -->
      </div>
      <div class="col-lg-3">
        <img src="{{image.image.url}}" class="img-responsive" alt="Image">
        <!-- <img src="{{images_item.image_image.url}}" class="img-responsive" alt="Image"> -->
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
















